
services:
  grafana-synthetic-agent:
    image: grafana/synthetic-monitoring-agent:latest
    container_name: grafana-synthetic-agent
    restart: unless-stopped
    env_file:
      - /opt/grafana-synthetic-agent/grafana-synthetic-agent.env
    networks:
      - metrics
    entrypoint: ["/bin/sh", "-c", "/usr/local/bin/synthetic-monitoring-agent -api-server-address $${API_SERVER} -api-token $${API_TOKEN}"]

networks:
  metrics:
    external: true
