# https://homarr.dev/docs/getting-started/installation/docker

services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest
    container_name: homarr
    restart: unless-stopped
    env_file:
      - /opt/homarr/homarr.env
    environment:
      TZ: Europe/Warsaw
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - appdata:/appdata
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.services.homarr.loadbalancer.server.port: 7575

networks:
  proxy:
    external: true

volumes:
  appdata:
