# Generate with: openssl rand -hex 32
SECRET_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# OIDC (authentik)
AUTH_PROVIDERS=oidc,credentials
AUTH_OIDC_CLIENT_ID=homarr
AUTH_OIDC_CLIENT_SECRET=your-client-secret-here
AUTH_OIDC_ISSUER=https://authentik.lake.dominiksiejak.pl/application/o/homarr/
AUTH_OIDC_URI=https://authentik.lake.dominiksiejak.pl/application/o/authorize
AUTH_OIDC_CLIENT_NAME=authentik
OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING=true
