# https://github.com/s3lcsum/gitops/blob/main/stacks/cups/compose.yaml

services:
  cups:
    image: olbat/cupsd:latest
    container_name: cups
    restart: unless-stopped
    volumes:
      - data:/etc/cups
      - /var/run/dbus:/var/run/dbus  # Required for printer auto-detection
      - /dev/bus/usb:/dev/bus/usb  # If using USB printers
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.services.cups.loadbalancer.server.port: 631

networks:
  proxy:
    external: true

volumes:
  data:
