# 1Password placeholder. Do not put real credentials here.
# Vault: Servers
# Item title: mktxp
# Tag: ArgoCD External Secrets Operator
# ExternalSecret keys: mktxp/username, mktxp/password
#
# RouterOS (on 192.168.89.1, not https://router.dominiksiejak.pl):
#   /user group add name=mktxp policy=api,read
#   /user add name=mktxp group=mktxp password=<password>
#
username=mktxp
password=replace-me
