#!/usr/lib/systemd/systemd

[Unit]
Description=Portainer Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm -f portainer
ExecStartPre=-/usr/bin/docker rmi portainer/portainer-ce:alpine-sts
ExecStart=/usr/bin/docker run \
  --name=portainer \
  --restart=always \
  --publish=9443:9443 \
  --network=proxy \
  --volume=/var/run/docker.sock:/var/run/docker.sock \
  --volume=portainer_data:/data \
  --volume=/opt:/opt:ro \
  --label="traefik.enable=true" \
  --label="traefik.http.routers.portainer.entrypoints=websecure" \
  --label="traefik.http.services.portainer.loadbalancer.server.port=9000" \
  portainer/portainer-ce:alpine-sts
ExecStop=/usr/bin/docker stop portainer

[Install]
WantedBy=multi-user.target
