APP_KEY=base64:YOUR_APP_KEY_HERE

STATIC_CRON_TOKEN=YOUR_STATIC_CRON_TOKEN_HERE

DB_CONNECTION=pgsql
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_DATABASE=YOUR_DB_NAME
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

MAIL_MAILER=smtp
MAIL_HOST=YOUR_MAIL_HOST
MAIL_PORT=YOUR_MAIL_PORT
MAIL_FROM=YOUR_MAIL_FROM
MAIL_USERNAME=YOUR_MAIL_USERNAME
MAIL_PASSWORD=YOUR_MAIL_PASSWORD
MAIL_ENCRYPTION=YOUR_MAIL_ENCRYPTION

MAP_DEFAULT_LAT=00.0000
MAP_DEFAULT_LONG=00.0000
MAP_DEFAULT_ZOOM=6
