# https://github.com/s3lcsum/gitops/blob/main/stacks/watchyourlan/compose.yaml

services:
  wyl:
    image: aceberg/watchyourlan:latest
    container_name: watchyourlan
    restart: unless-stopped
    env_file:
      - /opt/watchyourlan/watchyourlan.env
    environment:
      PROMETHEUS_ENABLE: true
      PORT: 8840
      USE_DB: postgres
    volumes:
      - data:/data/WatchYourLAN
    network_mode: host
    cap_add:
      - NET_RAW
      - NET_ADMIN
    labels:
      traefik.enable: true
      traefik.http.routers.wyl.rule: Host(`lan.lake.dominiksiejak.pl`)
      traefik.http.services.wyl.loadbalancer.server.url: http://192.168.89.253:8840

volumes:
  data:
