# https://github.com/aceberg/WatchYourLAN?tab=readme-ov-file#config
TZ=Europe/Warsaw

INFLUX_ENABLE=true
INFLUX_ADDR=https://influxdb.example:8806/
INFLUX_BUCKET=watcgyourlan
INFLUX_ORG=home
INDLUX_TOKEN=""

PROMETHEUS_ENABLE=true
