# https://github.com/s3lcsum/gitops/blob/main/stacks/authentik/compose.yaml

x-default: &default
  image: ghcr.io/goauthentik/server:2025.10.2
  restart: unless-stopped
  env_file:
    - /opt/authentik/authentik.env
  environment:
    AUTHENTIK_ERROR_REPORTING__ENABLED: "true"
    AUTHENTIK_LOG_LEVEL: debug
  volumes:
    - media:/media
    - templates:/templates
    - certs:/certs
    - /var/run/docker.sock:/var/run/docker.sock:rw
  user: "1000:996"
  networks:
    - proxy
    - database
    - authentik

services:
  server:
    <<: *default
    container_name: authentik-server
    command: server
    depends_on:
      - worker
    healthcheck:
      test: ["CMD", "ak", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    labels:
      traefik.enable: true
      traefik.docker.network: proxy
      traefik.http.routers.authentik.rule: Host(`auth.lake.dominiksiejak.pl`)
      traefik.http.services.authentik.loadbalancer.server.port: 9000
      # Forward auth middleware for other services
      traefik.http.middlewares.authentik-forward-auth.forwardauth.address: http://authentik-server:9000/outpost.goauthentik.io/auth/traefik
      traefik.http.middlewares.authentik-forward-auth.forwardauth.trustForwardHeader: true
      traefik.http.middlewares.authentik-forward-auth.forwardauth.authResponseHeaders: X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid

  worker:
    <<: *default
    container_name: authentik-worker
    command: worker
    networks:
      - authentik
      - database

  ldap:
    image: ghcr.io/goauthentik/ldap:2025.10.2
    container_name: authentik-ldap
    ports:
      - 389:3389
      - 636:6636
    env_file:
      - /opt/authentik/authentik-outpost-docker.env
    environment:
      AUTHENTIK_HOST: https://auth.lake.dominiksiejak.pl
      AUTHENTIK_INSECURE: "false"


networks:
  proxy:
    external: true
  database:
    external: true
  authentik:
    driver: bridge

volumes:
  media:
  templates:
  certs:
