# https://github.com/s3lcsum/gitops/blob/main/stacks/vaultwarden/compose.yaml

services:
  vaultwarden:
    image: ghcr.io/dani-garcia/vaultwarden:latest
    container_name: vaultwarden
    restart: unless-stopped
    env_file:
      - /opt/vaultwarden/vaultwarden.env
    environment:
      DOMAIN: https://vaultwarden.lake.dominiksiejak.pl
      LOG_LEVEL: warn
    volumes:
      - data:/data
    networks:
      - proxy
      - database
    labels:
      traefik.enable: true

networks:
  proxy:
    external: true
  database:
    external: true

volumes:
  data:
