# Vaultwarden Configuration

# Generate with: openssl rand -base64 48
# ❯ echo -n "xxxx" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
ADMIN_TOKEN=your-admin-token-here

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_FROM=vaultwarden@example.com
SMTP_FROM_NAME=Vaultwarden
SMTP_USERNAME=your-smtp-username
SMTP_PASSWORD=your-smtp-password

DATABASE_URL=postgresql://vaultwarden_user:vaultwarden_password@postgres:5432/vaultwarden_db

PUSH_ENABLED=false
PUSH_INSTALLATION_ID=
PUSH_INSTALLATION_KEY=

