# Copy to defaults.auto.tfvars (gitignored) or export TF_VAR_*.

grafana_cloud_url  = "https://dreewniak.grafana.net"
grafana_cloud_auth = "glsa_..." # Cloud Admin service account token

# Defaults usually fine:
# pdc_network_id       = "e8558cb8-eea9-4eb5-a58e-1ba9f7181431"
# victoria_metrics_url = "http://victoria-metrics:8428"
# oncall_username      = "s3lcsum"
