# https://github.com/s3lcsum/gitops/blob/main/stacks/cloudflared/compose.yaml

services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    env_file:
      - /opt/cloudflared/cloudflared.env
    command: tunnel run
