{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "homeassistant": {
      "type": "local",
      "command": ["uvx", "ha-mcp"],
      "enabled": true,
      "environment": {
        "HOMEASSISTANT_URL": "{env:HA_URL}",
        "HOMEASSISTANT_TOKEN": "{env:HA_TOKEN}"
      }
    },
    "n8n-mcp-tools": {
      "type": "local",
      "command": ["npx", "-y", "n8n-mcp"],
      "enabled": true,
      "environment": {
        "N8N_API_URL": "https://n8n.dominiksiejak.pl/api/v1",
        "N8N_API_KEY": "{env:N8N_API_KEY}"
      }
    },
    "argocd": {
      "type": "local",
      "command": ["npx", "-y", "argocd-mcp@latest", "stdio"],
      "enabled": true,
      "environment": {
        "ARGOCD_BASE_URL": "https://argocd.dominiksiejak.pl",
        "ARGOCD_API_TOKEN": "{env:ARGOCD_API_TOKEN}"
      }
    },
    "kubernetes": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "kubernetes-mcp-server@latest",
        "--config",
        "/Users/Apple/Developer/s3lcsum/gitops/.opencode/kubernetes-mcp.toml"
      ],
      "enabled": true,
      "timeout": 30000
    }
  }
}
