# https://github.com/s3lcsum/gitops/blob/main/stacks/postgres/compose.yaml

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    env_file:
      - /opt/postgres/postgres.env
    volumes:
      - data:/var/lib/postgresql/data
    networks:
      - database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]

  init:
    image: postgres:17
    container_name: postgres-init
    restart: no
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /opt/postgres/init.sh:/init.sh
      - /opt/postgres/postgres.env:/postgres.env
    networks:
      - database
    command: ["sh", "-c", "chmod +x /init.sh && set -a && . /postgres.env && set +a && /init.sh"]

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: unless-stopped
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    networks:
      - proxy
      - database
    labels:
      traefik.enable: true

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres-exporter
    restart: unless-stopped
    env_file:
      - /opt/postgres/postgres.env
    networks:
      - database
      - metrics
    depends_on:
      postgres:
        condition: service_healthy

networks:
  database:
    external: true
  metrics:
    external: true
  proxy:
    external: true

volumes:
  data:
    driver: local
    driver_opts:
      type: none
      device: /var/lib/postgresql
      o: bind
