# PostgreSQL Admin Credentials
PGDATA=/var/lib/postgresql/data/pgdata

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Application Database Credentials
# n8n
N8N_DB_USER=n8n_user
N8N_DB_PASSWORD=n8n_password
N8N_DB_NAME=n8n_db

# Authentik
AUTHENTIK_DB_USER=authentik_user
AUTHENTIK_DB_PASSWORD=authentik_password
AUTHENTIK_DB_NAME=authentik_db

# Zitadel
ZITADEL_DB_USER=zitadel_user
ZITADEL_DB_PASSWORD=zitadel_password
ZITADEL_DB_NAME=zitadel_db
