# https://github.com/s3lcsum/gitops/blob/main/stacks/adguard/compose.yaml

services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    volumes:
      - data:/opt/adguardhome/work
      - conf:/opt/adguardhome/conf
    networks:
      - proxy
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    labels:
      traefik.enable: true
      traefik.http.services.adguard.loadbalancer.server.port: 80

networks:
  proxy:
    external: true

volumes:
  data:
  conf:
