services:
  dozzle:
    image: ghcr.io/amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - proxy
    labels:
      traefik.enable: true
      traefik.http.routers.dozzle.middlewares: authentik@docker

networks:
  proxy:
    external: true
