# https://github.com/s3lcsum/gitops/blob/main/stacks/diun/compose.yaml

services:
  diun:
    image: ghcr.io/crazy-max/diun:latest
    container_name: diun
    restart: unless-stopped
    env_file:
      - /opt/diun/diun.env
    environment:
      LOG_LEVEL: info
      LOG_JSON: false

      DIUN_WATCH_WORKERS: 20
      DIUN_WATCH_SCHEDULE: "0 */6 * * *"
      DIUN_PROVIDERS_DOCKER: true
      DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT: true
      DIUN_PROVIDERS_DOCKER_WATCHSTOPPED: true

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /opt/diun/data:/data
    networks:
      - metrics

networks:
  metrics:
    external: true
