

# Notification settings (Email)
DIUN_EMAIL_ENABLE=true
DIUN_EMAIL_HOST=your-smtp-server.com
DIUN_EMAIL_PORT=587
DIUN_EMAIL_SSL=false
DIUN_EMAIL_TLS=true
DIUN_EMAIL_USERNAME=your-email@domain.com
DIUN_EMAIL_PASSWORD=your-smtp-password
DIUN_EMAIL_FROM=diun@yourdomain.com
DIUN_EMAIL_TO=your-email@domain.com
