services:
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    env_file:
      - /opt/gitea/gitea.env
    environment:
      GITEA__server__ROOT_URL: https://git.lake.dominiksiejak.pl
      GITEA__service__ENABLE_PASSWORD_SIGNIN_FORM: true
      GITEA__openid__ENABLE_OPENID_SIGNUP: true
      GITEA__service__DISABLE_REGISTRATION: true
      GITEA__service__REQUIRE_EXTERNAL_REGISTRATION_PASSWORD: false
      GITEA__oauth2_client__ENABLE_AUTO_REGISTRATION: true
      GITEA__oauth2_client__ACCOUNT_LINKING: auto
      GITEA__indexer__REPO_INDEXER_ENABLED: true
      GITEA__indexer__REPO_INDEXER_TYPE: bleve
      GITEA__indexer__REPO_INDEXER_PATH: indexers/repos.bleve
    volumes:
      - data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - proxy
      - database
    labels:
      traefik.enable: true
      traefik.http.routers.gitea.rule: Host(`git.lake.dominiksiejak.pl`)
      traefik.http.services.gitea.loadbalancer.server.port: 3000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  # runner:
  #   image: gitea/act_runner:latest
  #   container_name: gitea-runner
  #   restart: unless-stopped
  #   env_file:
  #     - /opt/gitea/gitea.env
  #   environment:
  #     CONFIG_FILE: /data/runner-config.yaml
  #     GITEA_INSTANCE_URL: https://git.lake.dominiksiejak.pl
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - data:/data
  #   networks:
  #     - gitea
  #   depends_on:
  #     - gitea

networks:
  proxy:
    external: true
  database:
    external: true
  gitea:
    driver: bridge

volumes:
  data:
