GITEA__database__DB_TYPE= postgres
GITEA__database__HOST=postgres:5432
GITEA__database__NAME=gitea_db
GITEA__database__USER=gitea_user
GITEA__database__PASSWD=your-secure-database-password

GITEA_RUNNER_TOKEN=your-gitea-runner-token-here

GITEA__mailer__ENABLED=true
GITEA__mailer__FROM=your-email@yourdomain.com
GITEA__mailer__PROTOCOL=smtps
GITEA__mailer__SMTP_ADDR=smtp.yourmailprovider.com
GITEA__mailer__SMTP_PORT=587
GITEA__mailer__USER=your-smtp-username
GITEA__mailer__PASSWD=your-smtp-password
