http:
  # Middlewares
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

    secure-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: "SAMEORIGIN"
        customResponseHeaders:
          server: ""
          x-powered-by: ""
        forceSTSHeader: true
        frameDeny: true
        permissionsPolicy: geolocation=(), microphone=(), camera=(), payment=(), usb=()
        referrerPolicy: "strict-origin-when-cross-origin"
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 63072000  # 2 years, recommended for HSTS preload

    rate-limit:
      rateLimit:
        average: 500
        burst: 200

    crowdsec-bouncer:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: true
          crowdsecLapiUrl: "http://crowdsec:8080"
          crowdsecLapiKey: '{{ env "CROWDSEC_API_KEY" }}'
          forwardedHeadersCustomName: "X-Forwarded-For"
          forwardedHeadersTrustedIPs:
            - "127.0.0.1/32"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.89.0/24"
            - "192.168.200.0/24"
          clientTrustedIPs:
            - "127.0.0.1/32"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.89.0/24"
            - "192.168.200.0/24"
          remediation:
            ban:
              enabled: true
              defaultRemediation: ban
            captcha:
              enabled: false
          logLevel: "INFO"


  # Routers for non-Docker services
  routers:
    synology:
      rule: "Host(`nas.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: synology

    proxmox:
      rule: "Host(`proxmox.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: proxmox

    mikrotik:
      rule: "Host(`router.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: mikrotik

    homeassistant:
      rule: "Host(`hass.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: homeassistant

  # Services
  services:
    synology:
      loadBalancer:
        servers:
          - url: "https://192.168.89.240:5001/"
        passHostHeader: true
        serversTransport: insecure

    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.89.254:8006/"
        passHostHeader: true
        serversTransport: insecure

    mikrotik:
      loadBalancer:
        servers:
          - url: "http://192.168.89.1/"
        passHostHeader: true

    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.89.251:8123/"
        passHostHeader: true

  serversTransports:
    insecure:
      insecureSkipVerify: true
