http:
  # Middlewares
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

    secure-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: "SAMEORIGIN"
        customResponseHeaders:
          server: ""
          x-powered-by: ""
        forceSTSHeader: true
        frameDeny: true
        permissionsPolicy: geolocation=(), microphone=(), camera=(), payment=(), usb=()
        referrerPolicy: "strict-origin-when-cross-origin"
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 63072000  # 2 years, recommended for HSTS preload

    rate-limit:
      rateLimit:
        average: 500
        burst: 200

    crowdsec-bouncer:
      plugin:
        crowdsec-bouncer-traefik-plugin:
          enabled: true
          crowdsecLapiUrl: "http://crowdsec:8080"
          crowdsecLapiKey: "${CROWDSEC_API_KEY}"
          forwardedHeadersCustomName: "X-Forwarded-For"
          forwardedHeadersTrustedIPs:
            - "127.0.0.1/32"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.89.0/24"
            - "192.168.200.0/24"
          clientTrustedIPs:
            - "127.0.0.1/32"
            - "10.0.0.0/8"
            - "172.16.0.0/12"
            - "192.168.89.0/24"
            - "192.168.200.0/24"
          remediation:
            ban:
              enabled: true
              defaultRemediation: ban
            captcha:
              enabled: false
          logLevel: "INFO"

  # Routers
  routers:
    redirect-to-https:
      rule: "HostRegexp(`{host:.+}`)"
      priority: 1 # Lower priority to catch-all, but won't overwrite other routers
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
      service: noop@internal

    block-external-ip:
      rule: "HostRegexp(`{host:.+}`)"
      priority: 1 # Lower priority to catch-all, but won't overwrite other routers
      entryPoints:
        - websecure
      service: error-pages-service@docker

    # Synology HTTPS Passthrough
    synology:
      rule: "Host(`nas.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: synology

    # Proxmox HTTPS Passthrough
    proxmox:
      rule: "Host(`proxmox.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: proxmox

    # Router (HTTP backend)
    mikrotik:
      rule: "Host(`router.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: mikrotik

    # OctoPrint
    octoprint:
      rule: "Host(`octoprint.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: octoprint

    # OpenWebRX
    openwebrx:
      rule: "Host(`openwebrx.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: openwebrx

    # Home Assistant
    homeassistant:
      rule: "Host(`hass.lake.dominiksiejak.pl`)"
      entryPoints:
        - websecure
      service: homeassistant

  # Services
  services:
    synology:
      loadBalancer:
        servers:
          - url: "https://192.168.89.210:5001/"
        passHostHeader: true
        serversTransport: insecure
    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.89.254:8006/"
        passHostHeader: true
        serversTransport: insecure
    mikrotik:
      loadBalancer:
        servers:
          - url: "http://192.168.89.1/"
        passHostHeader: true
    octoprint:
      loadBalancer:
        servers:
          - url: "http://192.168.89.206:5000/"
        passHostHeader: true
    openwebrx:
      loadBalancer:
        servers:
          - url: "http://192.168.89.206:8073/"
        passHostHeader: true

    homeassistant:
      loadBalancer:
        servers:
          - url: "http://192.168.89.251:8123/"
        passHostHeader: true

  serversTransports:
    insecure:
      insecureSkipVerify: true
