log:
  level: INFO

accessLog: {}

entryPoints:
  web:
    address: ":80"
    asDefault: false
    http:
      encodedCharacters:
        # Temporary solution to allow encoded slashes in the URL, as Vault in latest versions fails to work with Traefik.
        # @ref: https://github.com/traefik/traefik/pull/12360#issuecomment-3719385044
        allowEncodedSlash: true          # %2F - Default: false
        allowEncodedBackSlash: true      # %5C - Default: false
        allowEncodedNullCharacter: true  # %00 - Default: false
        allowEncodedSemicolon: true      # %3B - Default: false
        allowEncodedPercent: true        # %25 - Default: false
        allowEncodedQuestionMark: true   # %3F - Default: false
        allowEncodedHash: true           # %23 - Default: false
      middlewares:
        - redirect-to-https@file
        - error-pages-middleware@docker

  websecure:
    address: ":443"
    asDefault: true
    http3: {}
    http:
      encodedCharacters:
        # Temporary solution to allow encoded slashes in the URL, as Vault in latest versions fails to work with Traefik.
        # @ref: https://github.com/traefik/traefik/pull/12360#issuecomment-3719385044
        allowEncodedSlash: true          # %2F - Default: false
        allowEncodedBackSlash: true      # %5C - Default: false
        allowEncodedNullCharacter: true  # %00 - Default: false
        allowEncodedSemicolon: true      # %3B - Default: false
        allowEncodedPercent: true        # %25 - Default: false
        allowEncodedQuestionMark: true   # %3F - Default: false
        allowEncodedHash: true           # %23 - Default: false
      middlewares:
        - secure-headers@file
        - error-pages-middleware@docker
      tls:
        certResolver: letsencrypt
        domains:
          - main: dominiksiejak.pl
            sans:
              - '*.dominiksiejak.pl'
              - '*.lake.dominiksiejak.pl'
              - '*.atom.dominiksiejak.pl'
              - '*.hello.dominiksiejak.pl'

  traefik:
    address: ":8080"
    asDefault: false

  metrics:
    address: ":9100"
    asDefault: false

api:
  dashboard: true
  insecure: false

ping: {}

providers:
  docker:
    exposedByDefault: false
    network: proxy
    defaultRule: "Host(`{{ .ContainerName }}.lake.dominiksiejak.pl`)"
  file:
    filename: /etc/traefik/dynamic.yaml

certificatesResolvers:
  letsencrypt:
    acme:
      email: dreewniak@gmail.com
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: "0"
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
        disablePropagationCheck: false
  vaultpki:
    acme:
      email: dreewniak@gmail.com
      storage: /letsencrypt/vault-acme.json
      caServer: "http://vault:8200/v1/pki_int/acme/directory"
      httpChallenge:
        entryPoint: web

metrics:
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0

experimental:
  plugins:
    crowdsec-bouncer-traefik-plugin:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.4"
