n8n_encryption_key=your_encryption_key_here

db_type=postgresdb
db_postgresdb_host=postgres
db_postgresdb_user=your_user_here
db_postgresdb_password=your_password_here
db_postgresdb_database=your_database_here
