# https://github.com/s3lcsum/gitops/blob/main/stacks/netbootxyz/compose.yaml

x-defaults: &defaults
  restart: unless-stopped
  networks:
    - proxy
  labels:
    traefik.enable: true

services:
  netbootxyz:
    <<: *defaults
    image: ghcr.io/netbootxyz/netbootxyz:latest
    container_name: netbootxyz
    ports:
      - "69:69/udp"
    volumes:
      - config:/config
      - assets:/assets
    labels:
      traefik.enable: "true"
      traefik.http.services.netbootxyz.loadbalancer.server.port: 3000

  idrac6:
    <<: *defaults
    container_name: idrac6
    image: domistyle/idrac6
    environment:
      - IDRAC_HOST=192.168.89.210
      - IDRAC_USER=${IDRAC_USER:-root}
      - IDRAC_PASSWORD=${IDRAC_PASSWORD:-calvin}
    ports:
      - "5800:5800"  # Web-based console (VNC over noVNC)
    labels:
      traefik.enable: "true"
      traefik.http.routers.idrac6.rule: Host(`idrac.lake.dominiksiejak.pl`)

networks:
  proxy:
    external: true

volumes:
  config:
  assets:
