# https://github.com/s3lcsum/gitops/blob/main/stacks/upsnap/compose.yaml

services:
  upsnap:
    image: ghcr.io/seriousm4x/upsnap:latest
    container_name: upsnap
    restart: unless-stopped
    volumes:
      - data:/opt/upsnap/pb_data
    network_mode: host
    entrypoint: /bin/sh -c "./upsnap serve --http 0.0.0.0:5000"
    labels:
      traefik.enable: true
      traefik.http.services.upsnap.loadbalancer.server.url: http://192.168.89.253:5000

volumes:
  data:
