# https://github.com/s3lcsum/gitops/blob/main/stacks/upsnap/compose.yaml

services:
  upsnap:
    image: ghcr.io/seriousm4x/upsnap:latest
    container_name: upsnap
    restart: unless-stopped
    volumes:
      - data:/app/pb_data
    environment:
      UPSNAP_INTERVAL: "*/10 * * * * *"
      UPSNAP_SCAN_RANGE: 192.168.89.0/24
      UPSNAP_SCAN_TIMEOUT: 500ms
      UPSNAP_PING_PRIVILEGED: "true"
    network_mode: host
    entrypoint: /bin/sh -c "./upsnap serve --http 0.0.0.0:5000"
    labels:
      traefik.enable: true
      traefik.http.services.upsnap.loadbalancer.server.url: http://192.168.89.253:5000
      traefik.http.routers.upsnap.rule: Host(`upsnap.lake.dominiksiejak.pl`)
    healthcheck:
      test: curl -fs "http://192.168.89.253:5000/api/health" || exit 1

volumes:
  data:
