name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

env:
  TOFU_VERSION: "1.6.0"
  TFLINT_VERSION: "v0.58.1"
  TRIVY_VERSION: "v0.64.1"
  PRE_COMMIT_ACTION_VERSION: "v3.0.1"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ env.TOFU_VERSION }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4.1.1
        with:
          tflint_version: ${{ env.TFLINT_VERSION }}

      - name: Install Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh \
            | sudo sh -s -- -b /usr/local/bin "${{ env.TRIVY_VERSION }}"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
