GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your-admin-password-here
GF_AUTH_GENERIC_OAUTH_CLIENT_ID=grafana
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=your-authentik-client-secret-here

GRAFANA_TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
GRAFANA_TELEGRAM_CHAT_ID=
GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.zoho.eu:587
GF_SMTP_USER=root@mail.dominiksiejak.pl
GF_SMTP_PASSWORD=your_smtp_password_here
GF_SMTP_FROM_ADDRESS=root@mail.dominiksiejak.pl
GF_SMTP_FROM_NAME=Grafana
